@charset "utf-8";
/* CSS Document */


body
{
	line-height: 1.5em;
	font-family:'Lucida Sans Unicode', sans-serif;
	background-size:100% auto;
	background-image: url(/background.jpg);
	background-repeat: no-repeat;
	background-attachment:fixed;
}

#keret
{
	position:absolute;
	left:20%;
	top:5%;
	margin: 2%;
	width: 60%;
	background-color: rgba(255,255,255,0.7);
	box-shadow: 10px -5px 20px 0px rgba(0,0,0,0.5);
}

h1, h2 {
	color: #243f84;
	text-transform: uppercase;
	margin: 2%;
}

dl {
	margin: 2%;
	color: #243f84;
	text-decoration: underline;
}



.csik {
	margin: auto;
	width: 98%;
	height: 2px;
	background-color: black;
}

p
{
	text-align:justify;
	margin: 2%;
}

table
{
	margin: auto;
	width: 80%;
	border: 3px solid black;
}

.szurke {
	text-transform: lowercase;
	text-align: center;
	color: #808183;
	font-weight: bold;
	text-decoration: none;
}

hr
{
	background-color:#243f84;
	height:2px;
	width:100%;
}

img
{
	width:100%;
}

ul
{
	font-size:small ;
	list-style-image: url(/nap.png);
	margin-left: 10%;
}

input
{
	font-size:medium;
	margin-top:2%;
}

#fel {
	width: 5vw;
	float: right;
	clear: both;
}

form {
	margin: 2%;
}

input:active {
     background-color: #808183;
}